<div id="page-friend-list" class="base-page" ng-controller="FriendListController">
	<header>
		<div class="header-button left">
			<i class="icon ion-chevron-left"></i>
			<a href="#"></a>
		</div>
		<h1 class="text-center">Friend List</h1>
		<div class="header-button right">
			<i class="icon ion-plus"></i>
			<a href=""></a>
		</div>
	</header>
	<br>
	<div class="search-box">
		<input type="search" ng-model="search" class="form-control" placeholder="Search">
	</div>
	<br>
	<div class="friend animate-friend" ng-repeat="friend in friends | filter:search as total">
		<div class="photo">
			<img ng-src="assets/img/photo/{{ friend.photo }}">
		</div>
		<div class="detail">
			<p class="name">{{ friend.name }}</p>
			<p class="number">{{ friend.number }}</p>
		</div>
	</div>
	<p class="text-center" ng-if="total == 0"><b>You don't have a friends !</b></p>
</div>